In [1]:
import pandas as pd
from datetime import datetime
import matplotlib
import json

In [2]:
# Must keep header none to drop breaklines
tweets_data = pd.read_csv("datasources/data.csv", header=None, skiprows=[0])
tweets_data

,0,1,2
0,2021-10-30 00:59:57+00:00,1454251694813065222,We closed the week strong thanks to #tesla. Wh...
1,2021-10-30 00:59:55+00:00,1454251685476376580,30-10-2021 02:00:01 https://t.co/QSSPnxvGl1 #B...
2,2021-10-30 00:59:41+00:00,1454251626231906308,"Yeah, so I actually closed out all my position..."
3,2021-10-30 00:59:38+00:00,1454251613518970880,Well done\nWon a #Tesla \n#wrapped buy #BabyDo...
4,2021-10-30 00:59:37+00:00,1454251609760935939,@JilianneParker @Tesla Facts!!
...,...,...,...
33510,2021-11-04 23:41:19+00:00,1456406233544544267,@Jon4Lakers @Tesla @elonmusk I love my @Tesla!!!
33511,2021-11-04 23:41:15+00:00,1456406218998697989,@BerkmanOnlyfans @JordanUhl Not only that but ...
33512,2021-11-04 23:41:15+00:00,1456406216222003203,@TomGardnerFool @AndyCCross @asitmap Mine are ...
33513,2021-11-04 23:41:09+00:00,1456406190812975106,@ciphar_TheViper @elonmusk @Tesla @SpaceX @bor...
33514,2021-11-04 23:41:04+00:00,1456406172739702786,@MoosaviNafas @elonmusk @RealSkyWatcher @thesh...

In [30]:
# dtime = '2021-11-04 23:41:04+00:00'
# new_datetime = datetime.strftime(datetime.strptime(dtime,'%Y-%m-%d %H:%M:%S+00:00'), '%a %b %d %H:%M:%S %Y')
# print((new_datetime))

# new_datetime = datetime.strftime(datetime.strptime(dtime,'%Y-%m-%d %H:%M:%S+00:00'), '%Y-%m-%d')
# new_datetime = datetime.strftime(datetime.strptime(dtime,'%Y-%m-%d %H:%M:%S+00:00'), '%a')

Thu Nov 04 23:41:04 2021

In [3]:
# Convert date column from object to datetime format
from datetime import datetime
tweets_data[0] = pd.to_datetime(tweets_data[0], format='%Y-%m-%d %H:%M:%S')
tweets_data.dtypes

0    datetime64[ns, UTC]
1                  int64
2                 object
dtype: object

In [4]:
# Add a weekday column
tweets_data[3] = tweets_data[0].dt.day_name()

# Add an hour column
tweets_data[4] = tweets_data[0].dt.strftime('%H')

# Convert date format
tweets_data[0] = tweets_data[0].dt.strftime('%Y-%m-%d')


# Change column names and reorder columns
tweets_data.columns = ['created_date','id','tweet','weekday','hours']
tweets_data = tweets_data [['created_date','weekday','hours','id','tweet']]

In [6]:
tweets_data

,created_date,weekday,hours,id,tweet
0,2021-10-30,Saturday,00,1454251694813065222,We closed the week strong thanks to #tesla. Wh...
1,2021-10-30,Saturday,00,1454251685476376580,30-10-2021 02:00:01 https://t.co/QSSPnxvGl1 #B...
2,2021-10-30,Saturday,00,1454251626231906308,"Yeah, so I actually closed out all my position..."
3,2021-10-30,Saturday,00,1454251613518970880,Well done\nWon a #Tesla \n#wrapped buy #BabyDo...
4,2021-10-30,Saturday,00,1454251609760935939,@JilianneParker @Tesla Facts!!
...,...,...,...,...,...
33510,2021-11-04,Thursday,23,1456406233544544267,@Jon4Lakers @Tesla @elonmusk I love my @Tesla!!!
33511,2021-11-04,Thursday,23,1456406218998697989,@BerkmanOnlyfans @JordanUhl Not only that but ...
33512,2021-11-04,Thursday,23,1456406216222003203,@TomGardnerFool @AndyCCross @asitmap Mine are ...
33513,2021-11-04,Thursday,23,1456406190812975106,@ciphar_TheViper @elonmusk @Tesla @SpaceX @bor...
33514,2021-11-04,Thursday,23,1456406172739702786,@MoosaviNafas @elonmusk @RealSkyWatcher @thesh...

In [7]:
tweets_data.to_csv("datasources/tweets_data.csv", index=True)

In [9]:
tweets_data.to_json("datasources/tweets_data.json", orient="records")

In [10]:
tweets_sample = tweets_data.sample(n=1000)

In [22]:
tweets_sample.to_json("datasources/tweets_sample_column.json", orient="columns")

In [13]:
tweets_sample.tail()

,created_date,weekday,hours,id,tweet
13496,2021-11-01,Monday,10,1455126968459005954,Musk hit back on Twitter after his 'unbelievab...
25370,2021-11-03,Wednesday,12,1455881768465309696,@iceagetv In Europe what Tesla Autopiliot can ...
9185,2021-10-31,Sunday,16,1454855504421736457,@Tesla Please don't delay cybertruck to 2023 p...
2825,2021-10-30,Saturday,12,1454428672962793480,@DBTayor He didâ€¦\nJust like Tesla models \n\nS...
2741,2021-10-30,Saturday,12,1454430170274844677,"@elonmusk University of TiTs, Texans will riot..."

In [21]:
tweets_sample.to_json("datasources/tweets_sample.json", orient="records")